html, body{
    height: 100%;
    max-height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

nav{
    flex: 1;
    overflow-y: auto;
}

main{
    flex: 3;
    display: flex;
    flex-direction: column;
}

#app{
    flex: 9;
    display: flex;
    overflow-y: auto;
}

#images{
   flex: 1;
   margin: 10px;
   margin-top: 10px;
   margin-right: 10px;
   margin-bottom: 10px;
   margin-left: 10px;
   background-color: #ffffff;
   width: 30%;
   min-width: 250px;
   height: auto;
   padding-bottom: 10px;
   border-radius: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
   color: #686950;
   display: flex;
   max-height: 250px;
}
    
#map{
   flex: 3;
   height: 100%;
}

#directions {
   display: grid;
   grid-template-rows: 1fr 1fr;
   grid-template-columns: 1fr 1fr;

}
.header{
    background-color: #0b3954;
    color: #ffffff;
}
.menu-item{
    background-color: #0b3954;
    color: #b5bec6;
    cursor: pointer;
    padding: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-left: 3px solid transparent;
}

.menu-item:hover{
color: #c7dbe6;
border-left: 3px solid #bfb1c1;
}

.hidden {
    display: none !important;
}

.directionCamera {
    position: relative;
}

.directionCamera span {
position: absolute;
bottom: 4px;
right: 0;
color: white;
background-color: #041621;
padding: 2px;
}